@import url(../revolution/css/navigation.css);
@import url(../revolution/css/layers.css);

iframe {border: 0;}

/* Bullets
-------------------------------------------------------*/
.tp-bullet {
  background: rgba(255, 255, 255, 0);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  width: 10px !important;
  height: 10px !important;
  border: 2px solid rgba(255, 255, 255, 0.7) !important;
  display: inline-block;
  -webkit-transition: background-color 0.2s, border-color 0.2s;
  -moz-transition: background-color 0.2s, border-color 0.2s;
  -o-transition: background-color 0.2s, border-color 0.2s;
  -ms-transition: background-color 0.2s, border-color 0.2s;
  transition: background-color 0.2s, border-color 0.2s;
  float:none !important;
}

.tp-bullet.selected,
.tp-bullet:hover {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  background-color: #fff;
  width: 10px !important;
  height: 10px !important;
  border: 2px solid rgba(0, 0, 0, 0) !important;
}


/* Arrows
-------------------------------------------------------*/

.custom.tparrows,
.custom.tparrows:hover {
  background-color: transparent;
}

.custom.tparrows:before {
  font-family: "Themify";
  font-size: 30px;
}

.custom.tparrows.tp-leftarrow:before {
  content: '\e629';
}

.custom.tparrows.tp-rightarrow:before {
  content: '\e628';
}


/*-------------------------------------------------------*/
/* Onepage
/*-------------------------------------------------------*/

.tp-caption.hero-text {
  color: #fff;
  text-shadow: none;
  font-weight: 100;
  line-height: 60px;
  font-family: "Cardo", sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
}

.tp-caption.uppercase {
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.tp-caption.medium-text {
  color: #fff;
  font-weight: 300;
  font-size: 24px;
  line-height: 36px;
  font-family: "Lora", sans-serif;
  margin: 0px;
  border-width: 0px;
  border-style: none;
  white-space: nowrap;
}

.tp-caption.alt-font {
  font-family: "Lora", sans-serif;
}

.tp-caption.hero-text.style-2 {
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0.2em;
}

.hero-text.strikethrough {
  text-decoration: line-through;
  color: #dca44b;
}

.hero-text.strikethrough span {
  color: #fff;
}

.tp-caption.size-120 { font-size: 120px; }
.tp-caption.size-70 { font-size: 70px; }
.tp-caption.size-64 { font-size: 64px; }
.tp-caption.size-60 { font-size: 60px; }

.tp-caption.nocaps {
  text-transform: none;
  letter-spacing: 0;
}

.tp-caption.line {
  content: "";
  background-color: #e0b571;
}

.tp-caption a {
  color: #fff;
}

.tp-caption a:hover {
  color: #fff;
}