body {
    background-color: #EDEDED;
    margin: 0;
    color: #2D2D2D;
    font-family: 'Source Sans Pro', sans-serif;    
}

nav {
    height: 116px;
    border-bottom: 1px solid #2D2D2D;
    width: 97%;
    margin: auto;
    display: inline-block;
}

nav .logo {
    position: relative;
    top: 56px;
    left: 70px;
}

.logo a {
    font-family: 'Cookie', cursive; 
    font-size: 25px; 
    color: #2D2D2D; 
    text-decoration: none;     
}

nav ul {
    display: inline-block;
    position: relative;
    padding: 10px 40px;
    float: right;
}

nav li {
    list-style-type: none;
    padding: 10px 25px;
    display: inline-block;
}

nav #menu {
    display: none;
}

nav li a {
    color:  #2D2D2D;
    text-decoration: none;
}

header {
    text-align: center;
    padding: 20px;
}

header h1 {
    font-weight: 400;
    font-size: 36px;    
}

header span {
    color: #e18ca2;
}

.banner {
    background: url(../img/landscape.jpg) no-repeat;
    height: 500px;
    border-radius: 20px;
    margin: 0 20px;
}

.about {
    height: 250px;
}

.left {
    float: left;
    width: 45%;
    margin-left: 30px;
}

.left h1, .right h1 {
    color: #e18ca2;    
    text-align: center;
    font-size: 36px;   
    font-family: 'Cookie', cursive;     
}

.left p, .right p {
    font-size: 20px;
}

.right {
    float: right;
    width: 45%;
    margin-right: 30px;
}

.dashboard {
    height: 575px;
    width: 95%;
    margin: 0 auto;
}

.dashboard .img-container {
    height: 218px;
    width: 18%;
    border-radius: 20px;
    background: white;
    display: inline-block;
    margin: 30px 10px;
}

.dashboard .img-container img {
    width: 100%;
    height: 157px;
    border-radius: 20px 20px 0 0;
}

.img-container .img-title {
    margin: 0 14px;
    font-size: 20px;
    font-weight: normal;
}

.img-container .description {
    margin: 0 14px;
    font-size: 15px;
    color: #e18ca2;
}

.end {
    text-align: center;
}

.end h1 {
    color: #e18ca2;  
    font-weight: 400;
    font-size: 36px;
    font-family: 'Cookie', cursive;    
}

footer {
    background-color: #2D2D2D;
    height: 375px;
    padding: 40px 40px 0;
}

footer h1 {
    color: #e18ca2;     
}

.footer-left, .footer-right {
    width: 50%;
}

.footer-left {
    float: left;
    font-family: 'Cookie', cursive;
}

.footer-left a {
    font-family: 'Source Sans Pro', sans-serif;     
}

.footer-right {
    float: right;
}    

input {
    display: block;
    margin: 20px 0;
}

::-webkit-input-placeholder {
   color: black;
   font-size: 12px;
}

input[type=text] {
    width: 95%;
    padding: 7px;
    border-radius: 4px;
    border: none;    
}

textarea {
    width: 95%;
    padding: 7px;
    border-radius: 4px;
    border: none;    
}

footer a {
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: white;
    padding: 25px 0;
}

.footer-right ul {
    float: right;
    margin-top: 120px;
}

.footer-right li {
    display: inline-block;
    margin: 15px;    
}

.footer-right li:last-child {
    margin-right: 0;    
}

.buttons {
    float: right;
    border-radius: 100%;
    width: 50px;
    height: 0;
    background-color: #e18ca2;
    text-align: center;
}

.buttons i {
    color: #2D2D2D;
    position: relative;
    bottom: 13px; 
}

@media (max-width: 1188px) {
    .dashboard {
        width: 70%;
        height: 1110px;
    }

    .dashboard .img-container {
    width: 33%;
    margin: 0px;
    }
}

@media (max-width: 948px) {
    .dashboard {
        width: 62%;
        height: 1240px;
    }    

    .dashboard .img-container {
        width: 45%;
        margin: 10px;
    }

}

@media (max-width: 872px) {
    .dashboard .img-container {   
        width: 45%;
    }

    .footer-right ul {
        margin-top: 50px;
    }

    .footer-right li {
        display: block;
    }    

    .buttons {
        margin-bottom: 10px;
    }
}

@media (max-width: 743px) {
    .dashboard {
        height: 1380px;
    }
}

@media (max-width: 700px) {
    .left, .right {
        width: 90%;
        text-align: center;
        margin: 0 auto;
    }

}

@media (max-width: 696px) {
    .dashboard {
        height: 2655px;
        width: 50%;
    } 

    .dashboard .img-container {
        width: 100%;
        margin-bottom: 5px;
    }          
}

@media (max-width: 653px) {
    nav #menu {
        display: inline-block;
    }

    nav li:nth-child(2),
    nav li:nth-child(3), 
    nav li:nth-child(4),       
    nav li:nth-child(5) {
        display: none;
    }    
}

@media (max-width: 428px) {
/*    .dashboard .img-container {
        width: 100%;
        margin-bottom: 5px;
    }  */ 

/*    .dashboard {
        height: 2655px;
    } */
}







