body {
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5) ), url(../img/background.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
}

input {
    font-size: 30px;
    margin: 45px auto;
    display: block;
    padding: 5px 10px;
    text-align: center;
    box-shadow: none;
    border: none;
    font-family: 'Lato' sans-serif;
    color: black;
    width: 38%;
}

::-webkit-input-placeholder {
    color: #585050;
}

.wrapper {
    perspective: 1000px;
    display: block;
    margin-bottom: 655px;
    position: relative;
    top: 40px;
}

.shape {
    transform-style: preserve-3d;
    transform: rotateX(2deg) rotateY(0);
    animation-name: rotate;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-webkit-keyframes rotate {
    from {-webkit-transform: rotateX(-5deg) rotateY(0deg);}
    to {-webkit-transform: rotateX(-5deg) rotateY(360deg);}
}

.shape:hover {
    animation-play-state: paused; 
}

.half1, .half2 {
    font-size: 4em;
    width: 0em;
    height: 0em;
    margin: 1.5em auto;
    transform-style: preserve-3d;
}

.half1 {
    transform: translateX(2em) rotateX(0deg) rotateY(180deg) translateZ(1.25em);
}

.half2 {
    transform: translateX(-1.9em) rotateX(0deg) rotateY(0deg) translateZ(1.03em);
}

.side {
    position: absolute;
    width: 3.5em;
    height: 4em;
    color: white;
    text-align: center;
    line-height: 2em;
    -webkit-perspective: 800;    
}

.side:hover {
    width: 4em;
}

.side h3 {
    color: white;
    margin: 0;
    font-family: 'Lato', sans-serif;
    position: relative;
    bottom: 65px;
    font-size: 45px;
}

.side img {
    width: 80%; 
}

.side:hover {
    width: 4em;
}

.side:hover img {
    width: 100%;
}

.lat {
    transform: rotateX(0deg) translateX(5.4em) rotateY(270deg);
    transform-style: preserve-3d;
    height: 16.5em;
    width: 15em;
}

.lat2 {
    transform: rotateX(0deg) translateX(65em) rotateY(90deg);
    transform-style: preserve-3d;
    height: 16.5em;
    width: 15em;
}

.lat h3, .lat2 h3 {
    position: relative;
    top: 8px;
}

.lat:hover,
.lat2:hover {
    width: 17em;
}

.lat:hover img, 
.lat2:hover img {
    width: 100%;
}


.side1 {
    transform: translateZ(6em);
}

.side2 {
    transform: translateX(0.4em) rotateY(34deg) translateZ(5.87em);
}
.side3 {
    transform: translateX(2.9em) rotateY( 60deg) translateZ(4em);
}

.side4 {
    transform: translateX(-2.6em) rotateY(300deg) translateZ(4.5em);
}

.side5 {
    transform: translateX(-0.88em) rotateY(330deg) translateZ(5.75em);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}
.overlay.light {
    background: rgba(0, 0, 28, 0.8);
    z-index: 9999;
}
.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
    margin: 100px auto;
    padding: 25px;
    background: #fff;
    width: 300px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    position: relative;
    font-family: 'Lato', sans-serif;
}

.light .popup {
  border-color: #aaa;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}
.popup h2 {
  margin-top: 0;
  color: #666;
  font-family: 'Lato', sans-serif;
}
.popup .close {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  opacity: 0.8;
  transition: all 200ms;
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: #666;
}
.popup .close:hover {
  opacity: 1;
}
.popup .content {
  max-height: 400px;
  overflow: auto;
}
.popup p {
  margin: 0 0 1em;
}
.popup p:last-child {
  margin: 0;
}



